<div class="view">
    <div class="row">
        <div class="col m3 s0" id="info-section">
            <div class="info">
                <p id="info-title">Our Values</p>
                <hr>
                <p id="info-text">We are in business to serve our clients and our attitude conveys this always</p>
                <hr>
                <p id="info-text">We have built and will continue to build a reputation of honesty, integrity, and
                    fairness in dealing with all of our clients</p>
                <hr>
                <p id="info-text">Our team members find satisfaction and enjoyment in their work. This provides for
                    added value in our services</p>
                <hr>
                <p id="info-text">Every team member at The Reisa Group has something valuable to contribute. No member
                    is more important than another, and everyone needs each other</p>
            </div>
        </div>
        <div class="col m9 s12" id="detail-section">
            <div class="detail">
                <p id="detail-title">How Can We Help You?</p>
                <hr>
                <div class="detail-item">
                    <p>Are you seeking partners who can help you build strong organizational infrastructures? <br><br> The
                        Reisa Group would like to partner with you in that effort by providing you with quality and
                        timely retained search and referencing services.</p>
                </div>
                <div class="detail-item">
                    <p>Many non-profit organizations and for-profit companies throughout the United States use our retained search services to find candidates who not only fit the qualifications required of the position but also fit their culture. <br><br> These same organizations use our referencing services to ensure that candidates have demonstrated their ability to perform the tasks that will be required but will also fit the culture of our client organizations.</p>
                </div>
                <div class="detail-item">
            </div>
        </div>
    </div>