<div class="view">
    <div class="row">
        <div class="col m2 s0" id="info-section">
            <div class="info">
                <p id="info-title">Our Values</p>
                <hr>
                <p id="info-text">We are in business to serve our clients and our attitude conveys this always</p>
                <hr>
                <p id="info-text">We have built and will continue to build a reputation of honesty, integrity, and
                    fairness in dealing with all of our clients</p>
                <hr>
                <p id="info-text">Our team members find satisfaction and enjoyment in their work. This provides for
                    added value in our services</p>
                <hr>
                <p id="info-text">Every team member at The Reisa Group has something valuable to contribute. No member
                    is more important than another, and everyone needs each other</p>
            </div>
        </div>
        <div class="col m10 s12" id="detail-section">
            <mat-tab-group>
                    <mat-tab label="How Can We Help You?">
                        <div class="detail">
                                <div class="detail-item">
                                        <p>Are you seeking partners who can help you build strong organizational infrastructures?
                                            <br><br> The
                                            Reisa Group would like to partner with you in that effort by providing you with quality
                                            and
                                            timely retained search and referencing services.</p>
                                    </div>
                                    <div class="detail-item">
                                        <p>Many non-profit organizations and for-profit companies throughout the United States use
                                            our retained search services to find candidates who not only fit the qualifications
                                            required of the position but also fit their culture. <br><br> These same organizations
                                            use our referencing services to ensure that candidates have demonstrated their ability
                                            to perform the tasks that will be required but will also fit the culture of our client
                                            organizations.</p>
                                    </div>
                                    <div class="detail-item">
                                        <p style="text-align: left; font-size: 15px;">Our clients include:</p>
                                        <p style="font-size: 13px;">Baptist Medical and Dental Mission International - The Bowery
                                            Mission - Care Net - Center for Arizona Policy - Chick-fil-A - Emerald Youth Foundation
                                            - Family Policy Alliance of Kansas - Family Policy Alliance of North Dakota - Family
                                            Policy Council of West Virginia - Family Policy Alliance Headquarters - Fellowship
                                            Christian Academy - First Care Clinics - Foundation for Healthy Relationships - Georgia
                                            Family Council - Good Shepherd Alliance - Hagar USA - Impact 360 - Knox Area Rescue
                                            Ministries - LifeShape - Manhattan Declaration - Man In The Mirror - Massachusetts
                                            Family Institute - Minnesota Family Council - Neighborhood Ministries - Prison
                                            Fellowship - Prison Fellowship International - Personal Strengths Publishing - Ravi
                                            Zacharias International Ministries - ResultSource - Scottsdale Christian Academy -
                                            Taylor Morrison Homes - Urban Promise - Whitefield Academy - WinShape Foundation -
                                            World Hope International</p>
                                    </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
        </div>
    </div>