<div class="view">
    <div class="row">
        <div class="col m2 s0" id="info-section">
            <div class="info">
                <br>
                <p id="info-text">"The Reisa Group deals with people in such a professional manner..."
                    <br>-Vice President, Chick-fil-A</p>
                <hr>
                <p id="info-text">"...consistently professional, thorough, and efficient."
                    <br>-Director of HR Services, Prison Fellowship</p>
                <hr>
                <p id="info-text">"Our Board received exceptional customer support and professional counsel."
                    <br>-Chairman of the Board, Hagar USA</p>
            </div>
        </div>
        <div class="col m10 s12" id="detail-section">
            <mat-tab-group>
                <mat-tab label="Our Story">
                    <div class="detail">
                        <div class="detail-item">
                            <p>In 1986, Betsy McCall left a successful (but not enjoyable) career selling capital
                                equipment to paper mills and plastics manufacturers to seek work that would bring her
                                joy, satisfaction and fulfillment. <br>Her strong desire to enjoy and feel satisfaction
                                in her work, and for others to experience the same sense of fulfillment, was the
                                catapult that launched her new career.</p>
                        </div>
                        <div class="detail-item">
                            <p>Betsy formed an employment agency to help individuals find positions within
                                Christian-oriented organizations where they could use the skills they enjoyed using the
                                most. <br>After a few years of success in matching job seekers with employers, Betsy
                                realized she needed additional training and tools to be more effective in the
                                recruiting industry. <br>For six years, she learned the art of retained search work
                                from one of Atlanta’s premier search recruiters.</p>
                        </div>
                        <div class="detail-item">
                            <p>In October, 1995, The Reisa Group was born.</p>
                            <p>Betsy chose “reisa” (pronounced ray-suh) as the company name because the word best
                                embodies how she wants The Reisa Group to be of benefit to its clients. “Reisa” is a
                                Scandinavian word that means to raise up, build, construct and increase the value of.
                                The Reisa Group focuses on helping its clients to build a strong organizational
                                infrastructure by offering retained search and referencing services.</p>
                        </div>
                        <div class="detail-item">
                            <p>We have built a strong organizational infrastructure at The Reisa Group. Our associates
                                are qualified to provide the services we offer to help our clients build strong
                                organizational infrastructures in their own companies. Our associates enjoy using their
                                skills, even when that requires working before and after regular hours during the week
                                or on Saturday. We appreciate the opportunity we have to work with each of our clients.
                                We understand that we are their representatives in the marketplace and conduct business
                                on their behalf with the utmost of professionalism.</p>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>