<div class="view">
    <div class="row">
        <div class="col m2 s0" id="info-section">
            <div class="info">
                <br>
                <p id="info-text">"The Reisa Group [is committed] to thoroughly referencing each candidate."
                    <br>-Vice President, HR, Chick-fil-A</p>
                <hr>
                <p id="info-text">"I can't imagine hiring anyone without your services."
                    <br>-Chairman of the Board, Foundation for Healthy Relationships</p>
                <hr>
                <p id="info-text">"We really benefited from your experience in interviewing candidates."
                    <br>-VP, Finance and Administration, Center for Arizona Policy</p>
            </div>
        </div>
        <div class="col m10 s12" id="detail-section">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="About">
                    <div class="detail">
                        <div class="detail-item">
                            <p>The Reisa Group offers retained search and referencing services</p>
                            <p><i>for all levels of positions</i> including Chairman of the Board, CEO, CIO, CMO, CAO,
                                CFO, President, Executive Director, Executive and Senior Vice President, Vice
                                President, Headmaster, Director, Manager, Administrator, Accountant, Executive
                                Assistant, Administrative Assistant, Bookkeeper, Receptionist, and many others</p>
                            <p><i>“smorgasbord” style.</i> Some of our clients just want us to phone interview and
                                reference candidates they have found through their own recruiting efforts. Others might
                                want us to place ads and screen resumes and send them the resumes of individuals that
                                appear to be the best fit. Others want help in writing the position description,
                                writing the ads, placing the ads, screening the candidates (by email and a phone
                                interview) and referencing the final candidates. Others just want us to reference
                                candidates. You pick and choose what you want</p>
                            <br>
                            <p><i>• at a very reasonable hourly rate.</i></p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Retained Search">
                    <div class="detail">
                        <div class="detail-item">
                            <p>Before we embark on any search, the first step is an in-depth discussion with key client
                                stakeholders to gain a full understanding of the company’s business, culture, goals,
                                needs, the position to be filled and the experience and background required</p>
                        </div>
                        <div class="detail-item" >
                            <p>Then our clients choose which options they want from our “smorgasbord of services”</p>
                            <p style="text-align: left;">
                                Write the final position description
                                <br>
                                Write ads
                                <br>
                                Write a flyer to distribute to key constituents
                                <br>
                                Place ads
                                <br>
                                Screen and acknowledge resumes
                                <br>
                                Send a pre-screen email questionnaire to individuals who appear on paper to be a good match
                                <br>
                                Phone interview candidates who appropriately answer email questions
                                <br>
                                Present documentation to client about a candidate we feel could be a great fit 
                                resume, cover letter, answers to email questions and notes of the conversation with the
                                candidate
                                <br>
                                Conduct referencing for final candidate
                                <br>
                                Initiate background check confirmation of degree, driving and criminal records
                            </p>
                        </div>
                        <div class="detail-item">
                            <p>Our commitment is to find the right people for our clients who will add value to their organizations. Our placements enjoy exceptional tenure and continued advancement within our clients’ organizations because we concentrate on making sure the person matches the position requirements and will fit the client culture</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Referencing">
                    <div class="detail">
                        <div class="detail-item">
                            <p>Our clients provide us with a candidate’s</p>
                            <p style="text-align: left;">
                                Resume and/or application
                                <br>
                                A list of key reference contacts, the association with the candidate, email address and phone number
                                <br>
                                Position description
                                <br>
                                Comments about any concerns to be addressed with references
                            </p>
                        </div>
                        <div class="detail-item">
                            <p>We then engage in conversations with references (bosses, subordinates, peers, clients, colleagues, professors, friends) and ask questions that are customized to gain the knowledge each reference would have about the candidate</p>
                            <p>Finally, we provide our clients with written documentation of our questions and the answers provided by the reference</p>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>