/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../m-modified.css';
* {
    font-family: Open Sans;
}

body { 
    overflow: hidden;
    height: 100vh;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #bd3736;
}

#info-section, #detail-section {
    padding: 10px;
    height: calc(100vh - 150px);
}

.mat-tab-body.mat-tab-body-active {
    height: calc(100vh - 200px);
}

p {
    font-size: 13px;
}

::-webkit-scrollbar {
    width: 4px;  /* rem[ove scrollbar space */
    border-radius: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    /* background-color: #00ACC1 !important; */
    border-radius: 0px;
    background-color: #bd3736;
}